/* 
premier fichier 
CSS exercice
le tout dans un repository sur github via gitKraken
*/

@font-face {
  font-family: "blackjack-webfont";
  src: url("blackjack-webfont.ttf"), url("blackjack-webfont.svg"),
    url("blackjack-webfont.ttf"), url("blackjack-webfont.woff");
}

body {
  /*  background-image: url("fond.jpg") */
  background-color: #e3dcd2;
}

@media screen and (max-width: 1024px)
{
  body
  {
    background-color: #8a8786;
    font-size: 1.2em;
  }
}

#bloc_page {
  min-width: 900px;
}

h1 {
  color: #e3dcd2;
  font-size: 3.5em;
  font-family: "blackjack-webfont";
  text-align: center;
  text-shadow: 2px 2px 4px black;
  box-shadow: 6px 6px 6px black;
  border: 1px black solid;
  border-radius: 20px / 20px;
  background-color: #cc8b65; /* #c0b8b0  */
  width: 450px;
  margin: 10px auto;
}

h2 {
  color: #e3dcd2;
  font-size: 2.5em;
  font-family: "blackjack-webfont";
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

h3 {
  color: #e3dcd2;
  font-size: 1.7em;
  font-family: "blackjack-webfont";
  text-shadow: 2px 2px 4px black;
  text-align: center;
  box-shadow: 6px 6px 6px black;
  border: 1px black solid;
  border-radius: 10px / 10px;
  background-color: #cc8b65;
  padding-left: 4px;
  padding-right: 4px;
}

h4 {
  color: grey;
  font-size: 1.5em;
  font-family: "blackjack-webfont";
  text-shadow: 1px 1px 2px black;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

/* couleurs fond */

header {
  width: auto;
  max-width: 550px;
  margin: 20px auto;
  box-shadow: 6px 6px 6px black;
  border: 1px black solid;
  border-radius: 20px / 20px;
  background-color: #013328; /* #c0b8b0  */
}

article {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

section {
  display: flex;
  flex-direction: column;
  box-shadow: 6px 6px 6px black;
  border: 1px black solid;
  border-radius: 20px / 20px;
  background-color: #013328; /* c0b8b0 */
  margin: 20px;
  padding: 10px;
}
/*background-color:#c0b8b0;  */

p {
  color: #e3dcd2;
  font-size: 1.2em;
  font-family: "blackjack-webfont";
  text-align: center;
}

ul {
  color: #e3dcd2;
  font-size: 1.2em;
  font-family: "blackjack-webfont";
  font-weight: bold;
  background-color: #013328;
}

.imageflottante {
  float: center;
  opacity: 0.1;
}

#conteneur {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.lisere_gauche {
  position: relative;
  background-color: #cc8b65;
  width: 30px;
  min-width: 30px;
  box-shadow: 6px 6px 6px black;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 20px / 20px;
}

#formation {
  max-height: 700px;
  width: 30%;
}

#competences {
  max-height: 570px;
  width: 30%;
}

#experience {
  width: 40%;
}
