/* 
premier fichier 
CSS exercice
le tout dans un repository sur github via gitKraken
*/

p
{
    color: blue;
}

ul, strong
{
    color: violet;
}

h2
{
    color: red;
}

.compétences
{
    color: brown;
}

#unique
{
    color: yellowgreen;
}