/* 
premier fichier 
CSS exercice
le tout dans un repository sur github via gitKraken
*/

@fontface { /* Définition d'une nouvelle police nommé Blackjack */
    font-family: "blackjackregular";
    src: url("blackjack-webfont.eot");
    src: url("blackjack-webfont.eot?#iefix") format('embedded-opentype'),
         url("blackjack-webfont.svg") format('svg'),
         url("blackjack-webfont.ttf") format('truetype'),
         url("blackjack-webfont.woff") format('woff');
         font-weight: 400;
        font-style: normal;
}
h1
{
    color: grey;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    
    
}
p
{
    color: black;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

ul, strong
{
    color: grey;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2
{
    color: black;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.compétences
{
    color: black;
}

#unique
{
    color: black;
}