/* 
premier fichier 
CSS exercice
le tout dans un repository sur github via gitKraken
*/

@font-face {
    font-family: "blackjack-webfont";
    src: url("blackjack-webfont.ttf"),
         url("blackjack-webfont.svg"),
         url("blackjack-webfont.ttf"),
         url("blackjack-webfont.woff");

}
  
h1
{
    color: grey;
    font-size: 3.5em;
    font-family: "blackjack-webfont";
    text-align: center;
    text-shadow: 2px 2px 4px black;
      
}

p
{
    color: black;
    font-size: 1.2em;
    font-family: "blackjack-webfont";
    
}

ul
{
    color: black;
    font-size: 1.2em;
    font-family: "blackjack-webfont";
    font-weight: bold;
}

.imageflottante
{
    float: right;
    opacity: 0.1;
}

h3
{
    color: black;
    font-size: 1.7em;
    font-family:"blackjack-webfont";
    text-shadow: 2px 2px 4px grey;
}

h2
{
    color: black;
    font-size: 2.5em;
    font-family: "blackjack-webfont";
    text-shadow: 2px 2px 4px white;
}

h4
{
    color: grey;
    font-size: 1.5em;
    font-family: "blackjack-webfont";
    text-shadow: 1px 1px 2px black;
}

.compétences
{
    color: black;
}

#unique
{
    color: black;
}


/* outils centrage photo start */ 

#centrage
{
    text-align: center;
}

/* couleurs fond */

body

{
    background-color:#c0b8b0;

}

/*  */